* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Fonts */
  --ff-heading: "Staatliches", cursive;
  --ff-texting: "Palanquin", sans-serif;
  --ff-footer: "Open Sans", sans-serif;

  font-size: 62.5%;
  --fs-body: 2rem;
  --fs-heading: 4rem;

  /* Colors */
  --hue: 250;
  --bg-primary: hsl(232, 100%, 97%);
  --bg-secundary: hsl(218, 17%, 62%);
  --bg-heading-primary: hsl(275, 18%, 79%);
  --bg-heading-secundary: hsl(312, 91%, 96%);
  --fc-heading-primary: hsl(0, 0%, 100%);
  --fc-heading-secundary: hsl(232, 17%, 35%);
  --fc-texting-primary: hsl(274, 84%, 12%);
}

body {
  font-family: var(--ff-texting);
  font-size: var(--fs-body);
  text-align: center;

  background-color: var(--bg-primary);
}

header {
  background-color: var(--bg-secundary);

  padding: 3.2rem 0 3rem;
}

header img {
  margin-bottom: 3.2rem;
}

header h1 {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: var(--fs-heading);
  line-height: 3.4rem;

  letter-spacing: 0.05em;

  color: var(--fc-heading-primary);
  background-color: var(--bg-heading-primary);

  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  padding: 8px 0;
}

main {
  max-width: 32rem;

  margin: 0 auto;
}

.information p {
  margin: 1.4rem auto 6rem;
  max-width: 32rem;
  line-height: 2.4rem;

  color: var(--fc-texting-primary);
}

.cards {
  display: grid;
  gap: 3rem;
}

.card {
  position: relative;
}

main .card img {
  max-width: 32rem;

  animation: dowtop 800ms ease-in-out;

  transition: all 200ms;

  filter: brightness(0.8);
}

main .card img:hover {
  transform: scale(1.1);

  filter: initial;
}

main .card h2 {
  font-family: var(--ff-heading);
  font-weight: 400;
  font-size: var(--fs-body);
  line-height: 34px;

  letter-spacing: 0.05em;

  color: var(--fc-heading-secundary);
  background-color: var(--bg-heading-secundary);

  position: absolute;
  top: 1.6rem;
  right: 1.6rem;

  padding: 0 2.4rem;
  border-radius: 2rem;

  animation: topdow 800ms 350ms backwards ease-in-out;
}

footer {
  font-family: var(--ff-footer);
  font-size: 1.4rem;
  line-height: 2.8rem;

  color: var(--fc-heading-secundary);

  margin: 3rem 0;
}

footer a {
  font-weight: 700;

  text-decoration: none;
  color: var(--fc-heading-secundary);
}

@keyframes topdow {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes dowtop {
  0% {
    opacity: 0;
    transform: translateY(15px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (min-width: 800px) {
  .page {
    min-height: 100vh;

    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 90% 10%;
    grid-template-areas:
      "A B"
      "A C";
  }

  .information {
    background-color: var(--bg-secundary);

    padding: 3.2rem 0 3rem;

    grid-area: A;

    min-height: 100vh;
  }

  header img {
    max-width: 22rem;
  }

  header h1 {
    font-size: 4.8rem;
    line-height: 3.4rem;

    padding: 2.2rem 0;
  }

  .information p {
    max-width: 40rem;
    padding: 2rem;

    font-size: 2rem;
    line-height: 2.5rem;

    color: var(--fc-heading-primary);
  }

  main {
    grid-area: B;

    max-width: initial;
    margin: auto;
    padding: 3rem;
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "SOV1 SOV2 SOV3"
      "SOV4 SOV2 SOV6"
      "SOV4 SOV5 SOV6";
  }

  .cards div:nth-child(1) {
    grid-area: SOV1;
  }

  .cards div:nth-child(2) {
    grid-area: SOV2;
  }

  .cards div:nth-child(3) {
    grid-area: SOV3;
  }

  .cards div:nth-child(4) {
    grid-area: SOV4;
  }

  .cards div:nth-child(5) {
    grid-area: SOV5;
  }

  .cards div:nth-child(6) {
    grid-area: SOV6;
  }

  footer {
    grid: C;
  }
}
